body{
    display:flex;
justify-content: center;
align-items: center;    
height: 100vh;
}
.form {
display: flex;
flex-direction: column;

}
.form > div {
    flex: 1;
  display: flex;
  justify-content: stretch; 
}
.form > div input {
padding: 0.5rem 1rem;
margin-top: 1rem;
flex: 1;
}
button {
    margin-top: 1rem;
    width: 100%;
    background-color: transparent;
    border:1px solid blue;
    border-radius: 5px;
    padding: .5rem 0;
}
button:hover {
    cursor: pointer;
    background-color: rgb(49, 21, 21);
    color: white;
} 